@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$gris-claro: #e0eafc;
$gris-oscuro: #222222;
$azul-claro: #6495ed;
$azul-oscuro: #252e37;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: $gris-claro;
}

img {
  width: 100%;
}

.encabezado {
  background-color: $azul-oscuro;
  color: white;
  padding: 80px 30px;

  h1 {
    font-size: 80px;
    text-align: center;
  }
}

.contenedor {
  max-width: 400px;
  margin: 0 auto;
}

.portada {
  transition: all 0.3s ease;
  background-color: white;
  margin: 16px 0;
  border-radius: 8px;
  padding: 4px 0;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1.6px 6.4px rgba(0, 0, 0, 0.3);
  }

  h2,
  p {
    margin: 16px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);

  img {
    margin: auto;
    display: block;
    width: 40%;
  }
}

.cerrar {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.pie {
  background-color: $gris-oscuro;
  padding: 48px;
  color: white;

  div {
    float: right;
  }

  a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    margin: 10px;

    &:hover {
      color: $azul-claro;
    }
  }
}

@media only screen and (width <=576px) {
  .encabezado h1 {
    font-size: 50px;
    text-align: center;
  }

  .contenedor {
    max-width: 80%;
    margin: 0 auto;
  }

  .modal {
    padding-top: 170px;

    img {
      width: 90%;
    }
  }

  .pie {
    display: flex;
    flex-direction: column;
    text-align: center;

    div {
      text-align: center;
      margin-bottom: 20px;
    }

    p {
      font-size: 12px;
    }
  }
}